.kassenAnsicht{
    border: 2px solid red;
    color: black;
    margin: 10px;
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    margin-left: 10px;
    margin-right: 10px;
    
    
    background: rgba(217, 218, 245, 0.113);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.45);
} 