@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&family=Roboto:wght@100&display=swap');

*, html{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}
body{
    background-image: url('../images/background.jpeg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    margin:0;
    padding:0;
}
html{
    background-color: transparent;
    position:relative; 
    min-height: 100%;
}